extends layout

block content
  h1= title
  p Welcome to #{title}
  //- fieldset
  //-   form(action='/' method='post' Content-Type='application/json')
  //-     input.ghost-input(name='city' type='text' placeholder='Process Name' required='')
  //-     input.ghost-input(name='city' type='text' placeholder='Database Host' required='')
  //-     input.ghost-input(name='city' type='text' placeholder='Queue String' required='')
  //-     input.ghost-button(type='submit' value='Post')
  //-   form(action='/getEnvironment/process1' method='post')
  //-     input.ghost-button(type='submit' value='get')